<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css rollable">
        <a class='talent-roll'>{{name}}</a>
    </td>

    <td>
        <div class="spell-rank">{{#if (gte system.finalranks 1)}}{{system.finalranks}}{{else}}{{system.ranks}}{{/if}}</div>
    </td>

    <td>
        <div class="spell-attribute">{{localize (attribute system.attribute)}}</div>
    </td>

    <td>
        <div>{{add system.ranks (getAttributeValue attributes system.attribute)}}</div>
    </td>

    <td>
        <div class="spell-action">{{system.action}}</div>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=true}}
    </td>
</tr>
