<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css grid grid-1col no-gap">
        <a>{{name}}</a>
    </td>

    <td><span>{{system.circle}}</span></td>

    <td><span>{{system.currentspell}}</span></td>

    <td><span>{{add system.threadsrequired system.targetadditionalthreads}}</span></td>

    <td><span>{{system.totalthreads}}</span></td>

    <td><span>{{system.weavingdifficulty}}</span></td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=true}}
    </td>
</tr>
<tr class="item item-name" data-item-id="{{_id}}">
    <td colspan="8">
        <div class="grid grid-4col no-gap">
            <button class="attuneMatrix">
                {{localize "earthdawn.a.attune"}}
            </button>
            <button class="weaveThread" >
                {{localize "earthdawn.m.matrixWeaveRed"}}
            </button>
            <button class="castSpell">
                {{localize "earthdawn.m.matrixCastRed"}}
            </button>
            <button class="clearMatrix">
                {{localize "earthdawn.m.matrixClearRed"}}
            </button>
        </div>
    </td>
</tr>

