<div class='dialog-content'>
  <h1>{{ localize itemType }}: {{ itemName }}</h1>
  {{#if isAttribute}}
    {{> "systems/earthdawn4e/templates/popups/partials/lp-spending-talent.hbs"}}
  {{/if}}
  {{#if isDiscipline}}
    {{> "systems/earthdawn4e/templates/popups/partials/lp-spending-talent.hbs"}}
  {{/if}}
  {{#if isSkill}}
    {{> "systems/earthdawn4e/templates/popups/partials/lp-spending-skill.hbs"}}
  {{/if}}
  {{#if isSpell}}
    {{> "systems/earthdawn4e/templates/popups/partials/lp-spending-talent.hbs"}}
  {{/if}}
  {{#if isTalent}}
    {{> "systems/earthdawn4e/templates/popups/partials/lp-spending-talent.hbs"}}
  {{/if}}
  {{#if isThread}}
    {{> "systems/earthdawn4e/templates/popups/partials/lp-spending-talent.hbs"}}
  {{/if}}
</div>
<div class='dialog-buttons'>
  <button class='dialog-button cancel' data-button='cancel'>
    {{ localize 'earthdawn.c.cancel' }}
  </button>
  <button class='dialog-button ok default' data-button='ok'>
    {{ okButtonLabel }}
  </button>
</div>