<table class="lpTrackingTable searchable sortable" style='text-align: center;'>
  <thead>
  <tr>
    <th>{{ localize 'earthdawn.i.index'}}</th>
    <th>{{ localize 'earthdawn.t.time'}}</th>
    <th>{{ localize 'earthdawn.t.type'}}</th>
    <th>{{ localize 'earthdawn.n.name'}}</th>
    <th>{{ localize 'earthdawn.d.description'}}</th>
    <th>{{ localize 'earthdawn.l.lpCost'}}</th>
    <th>{{ localize 'earthdawn.l.lpAvailable'}}<sub>{{ localize 'earthdawn.b.beforeTransaction'}}</sub></th>
    <th>{{ localize 'earthdawn.l.legendPointsTotal'}}<sub>{{ localize 'earthdawn.a.atTransaction'}}</sub></th>
  </tr>
  </thead>
  <tbody>
    {{#each lpRecords}}
      <tr>
        <td>{{this.insertIndex}}</td>
        <td>{{dateNumberToLocaleString this.creationTime}}</td>
        <td>{{this.type}}</td>
        <td>
          <a class='lpTrackingTableItem' data-actor-id='{{../actor.id}}' data-item-id={{this.itemID}} data-item-type={{this.type}}>{{this.itemName}}</a>
        </td>
        <td>{{this.changeDescription}}</td>
        <td>{{this.lpCost}}</td>
        <td>{{this.lpBefore}}</td>
        <td>{{this.lpTotalAtCreationTime}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class='dialog-buttons'>
  <button class='dialog-button revert-lp' disabled>
    {{ localize 'earthdawn.l.lpRevertToHere' }}
  </button>
  <button class='dialog-button delete-all-lp-records'>
    {{ localize 'earthdawn.d.deleteAll' }}
  </button>
</div>