.optionBox {
  min-height: 250px;
    .navOptionBox {
      float: left;
      width: 100px;
    }
  
    .nav-optionBox-tabBody {
      float: right;
      margin-left: auto;
      width: calc(100% - 120px);
      height: fit-content;
      display: flex;
      flex-direction: column;
      
      margin-Bottom: 30px;
    }
  
    .list {
      list-style-type: none;
    }
    
    .circleInputDropDown {
        border: 1px solid;
        text-align: center;
        width: 60px;
        height: 30px;
        border-radius: 50%;
        padding-left: 10px;
        margin-left: 5px;
      }
    
  }

.dialog-buttons{
  padding-top:10px;
  .button-cancel {
    width: 48%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    text-align: center;
  }

  .button-ok {
    width: 48%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    right: 5px;
  }

}

.app.window-app.optionBox.dialog{
  height: fit-content;
  padding-bottom: 50px;
}
