<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- Equipment --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label>{{localize "earthdawn.a.amount"}}</label>
                    <input type="number" name="system.amount" value="{{item.system.amount}}">

                    <label>{{localize "earthdawn.w.weight"}}</label>
                    <input type="number" name="system.weight" value="{{item.system.weight}}">

                    <label class="grid-span-3">{{localize "earthdawn.b.bloodDamage"}}</label>
                    <input type="number" name="system.bloodMagicDamage" value="{{item.system.bloodMagicDamage}}">
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        {{#if (eq isGM true)}}
            <li>
                <div class="form-group stacked">
                    <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                    <label class="checkbox">
                        <input type="checkbox" name="system.isthread" {{checked item.system.isthread}}/> {{ localize
                            "earthdawn.t.thread" }}
                    </label>
                </div>
            </li>

            <hr>
        {{/if}}

        {{!-- Leftovers --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.shopValues" }}</label>

                <div class="grid grid-2col no-gap">
                    <label>{{localize "earthdawn.c.cost"}}</label>
                    <input type="number" name="system.cost" value="{{item.system.cost}}">

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-availability.hbs"}}
                </div>
            </div>
        </li>
    </ol>
</div>

