<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Thread Status --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.t.threadValues" }}</label>

                <div class="grid grid-5col no-gap">
                    <div class="tooltip right grid-span-3"
                         aria-label="How many Threads you want to create. Press the Button afterwards.">
                        <label>{{localize "earthdawn.m.maxRanks"}}</label>
                    </div>
                    <a class="change-thread-number" data-type="createThreads"
                       title="{{localize "earthdawn.m.maxRanksCreate"}}">
                        <I class="fas fa-magic"></I>
                    </a>
                    <input type="number" name="system.numberthreads" value="{{item.system.numberthreads}}">
                </div>

                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.d.defenseMagical"}}</label>
                    <input type="number" name="system.itemFirstDefenseMagical" value="{{item.system.itemFirstDefenseMagical}}">

                    <label class="grid-span-3">{{localize "earthdawn.m.maximumThreads"}}</label>
                    <input name="system.maxThreads" type="text" value="{{item.system.maxThreads}}">

                    <label class="grid-span-3">{{localize "earthdawn.r.rank"}}</label>
                    <input type="number" name="system.rank" value="{{item.system.rank}}">
                </div>

                <div class="grid grid-2col no-gap">
                    <label>{{localize "earthdawn.t.target"}}</label>
                    <input type="text" name="system.target" value="{{item.system.target}}">

                    <label>{{localize "earthdawn.t.tier"}}</label>
                    <select name="system.threadItemTier" value="{{item.system.threadItemTier}}">
                        {{#select item.system.threadItemTier}}
                            <option value="tierNovice">{{localize "earthdawn.t.tierNovice"}}</option>
                            <option value="tierJourneyman">{{localize "earthdawn.t.tierJourneyman"}}</option>
                            <option value="tierWarden">{{localize "earthdawn.t.tierWarden"}}</option>
                            <option value="tierMaster">{{localize "earthdawn.t.tierMaster"}}</option>
                        {{/select}}
                    </select>

                    <label>{{localize "earthdawn.c.characteristic"}}</label>
                    <select name="system.characteristic">
                        {{#select item.system.characteristic}}
                            <option value="physicaldefense">{{localize 'earthdawn.d.defensePhysical'}}</option>
                            <option value="mysticdefense">{{localize 'earthdawn.d.defenseMagical'}}</option>
                            <option value="socialdefense">{{localize 'earthdawn.d.defenseSocial'}}</option>
                            {{#each parentTalents as |talent id|}}
                                <option value="{{id}}">{{talent.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.active" {{checked item.system.active}}/> {{ localize
                        "earthdawn.a.active" }}
                </label>
            </div>
        </li>

    </ol>
</div>

