<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Talent --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.r.rank"}}</label>
                    <input type="number" name="system.ranks" value="{{item.system.ranks}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.strain"}}</label>
                    <input type="number" name="system.strain" value="{{item.system.strain}}">
                </div>

                <div class="grid grid-2col">
                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-attribute.hbs"}}

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-action.hbs"}}

                    <label>{{localize "earthdawn.s.source"}}</label>
                    <select name="system.source">
                        {{#select item.system.source}}
                            <option value="Discipline">{{localize 'earthdawn.d.discipline'}}</option>
                            <option value="Free">{{localize 'earthdawn.f.free'}}</option>
                            <option value="Option">{{localize 'earthdawn.o.option'}}</option>
                            <option value="Versatility">{{localize 'earthdawn.v.versatility'}}</option>
                            <option value="Racial">{{localize 'earthdawn.r.racial'}}</option>
                        {{/select}}
                    </select>

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-favorite.hbs"}}
                </div>
            </div>
        </li>

    </ol>
</div>


