<div class="item-properties wide">
    <ol class="properties-list">
        {{!-- Thread --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.t.threadValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label>{{localize "earthdawn.r.rank"}}</label>
                    <input type="number" name="system.rank" value="{{item.system.rank}}">

                    <label>{{localize "earthdawn.t.target"}}</label>
                    <input type="text" name="system.target" value="{{item.system.target}}">
                </div>

                <div class="grid grid-2col">
                    <label>{{localize "earthdawn.c.characteristic"}}</label>
                    <select name="system.characteristic">
                        {{#select item.system.characteristic}}
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="durability">{{localize "earthdawn.d.durability"}}</option>
                            {{#each parentTalents as |talent id|}}
                                <option value="{{id}}">{{talent.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.active" {{checked item.system.active}}/> {{ localize
                        "earthdawn.a.active" }}
                </label>
            </div>
        </li>

    </ol>
</div>

