.earthdawn.sheet.threadItem {
  form {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .fixedHeight {
    height: 300px;
    display: flex;
    flex-direction: column;

    .flexColumn {
      height: 100%;
      display: flex;
      flex-direction: column;

      .editor {
        height: 100%;
      }
    }
  }

  .threadItemCharacteristics {
    height: 265px;
  }

  @-moz-document url-prefix() {
    .threadItemCharacteristics {
      height: 300px;
      margin-bottom: 15%;
    }
  }


  .threadRankSeparate {
    padding-top: 10px;
  }

  .headerLeft {
    float: left;
    width: 33%;
    margin-top: 5px;
  }

  .headerMiddle {
    float: left;
    width: 33%;
  }

  .headerRight {
    float: right;
    width: 33%;
  }

  .keyKnowledgeLeft {
    float: left;
    width: 65%;
  }

  .keyKnowledgeRight {
    float: right;
    width: 31%;
  }

  .CharacteristicsLeft {
    float: left;
    width: 48%;
  }

  .CharacteristicsRight {
    float: right;
    width: 48%;
  }

  .threadItemRevealShow,
  .threadItemActiveThreads {
    margin-top: 5px;
  }

  .threadItemActive,
  .threadItemReveal {
    vertical-align: 6px;
  }
}

.threadItemCharacteristicsKeyKnowledge {
  padding-top: 35px;
}
