.earthdawn.sheet.equipmentInventory {
  form {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .flexColumn {
    height: 100%;
    display: flex;
    flex-direction: column;

    .editor {
      height: 100%;
      min-height: 200px;
    }
  }
  .threadweaveInfo {
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;

    .editor {
      height: 100%;
      min-height: 200px;
    }
  }
}
