<form class="mask {{cssClass}} taka-theme" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
    <h1>This sheet is under construction please check in after the next update.</h1>
    </body>
</form>
