<h2>{{ localize 'earthdawn.r.rankIncrease'}}: {{ currentRank }} &mapsto; {{newRank}}</h2>
<br />
<h3>{{ localize 'earthdawn.c.cost' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog skill-cost'>
  <label for='lpCost'>
    {{ localize 'earthdawn.l.lp' }}
  </label>
  <input type='number' id='lpCost' class='inherent-width' value={{ lpCostIncrease }}>

  <label for='silverCost'>
    {{ localize 'earthdawn.c.coinSilverSilver' }}
  </label>
  <!--input type='number' id='silverCost' class='inherent-width' value={{!-- averageSilverCost --}}-->
    <span>{{ averageSilverCost }}</span>
</div>

<h3>{{ localize 'earthdawn.p.parameters' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog skill-parameters'>
  <label for='tier'>
    {{ localize 'earthdawn.t.tier' }}
  </label>
  <select id='tier' name="tier" class="inherent-width" type="text" data-dtype="String">
    {{#select tier}}>
      <option value="novice">{{localize "earthdawn.t.tierNovice"}}</option>
      <option value="journeyman">{{localize "earthdawn.t.tierJourneyman"}}</option>
      <option value="warden">{{localize "earthdawn.t.tierWarden"}}</option>
    {{/select}}
  </select>

  <label for='trainingTime'>
    {{ localize 'earthdawn.t.trainingTime' }}
  </label>
  <input id='trainingTime' name="trainingTime" class="inherent-width" type="number" data-dtype="Integer" value={{ trainingTimeWeeks }}>
</div>

<h3>{{ localize 'earthdawn.r.requirements' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog'>

  {{#if rankTooHigh}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.m.maxRanks' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorSkillUpgradeRankTooHigh' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.m.maxRanks' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}

  {{#if hasSufficientLP}}
    <label id='lp-req-label'><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.s.sufficientLP' }}</label>
    <span id='lp-req-text'>
      {{ localizedOK }}
    </span>
  {{else}}
    <label id='lp-req-label'><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.s.sufficientLP' }}</label>
    <span id='lp-req-text'>
      {{ localize 'earthdawn.errors.errorNotEnoughLP' lpCost=lpCostIncrease availableLP=currentAvailableLP}}
    </span>
  {{/if}}

  {{#if hasSufficientSilver}}
    <label id='silver-req-label'><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.s.sufficientSilver' }}</label>
    <span id='silver-req-text'>
      {{ localizedOK }}
    </span>
  {{else}}
    <label id='silver-req-label'><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.s.sufficientSilver' }}</label>
    <span id='silver-req-text'>
      {{ localize 'earthdawn.errors.errorNotEnoughSilver' silverCost=averageSilverCost availableSilver=currentAvailableSilver}}
    </span>
  {{/if}}

  {{#if hasDamage}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.n.noDamage' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNoUpgradeDamage' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.n.noDamage' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}

  {{#if hasWounds}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.n.noWounds' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNoUpgradeWounds' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.n.noWounds' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}
</div>

<h3>{{ localize 'earthdawn.r.rules' }}</h3>
<div class='grid grid-1col no-gap upgradeDialog'>
  <ul>
    <!--TODO: localize-->
    <li>complete a number of weeks of dedicated training equal to the new rank</li>
    <li>an average week of training costs a fee equal to new rank × 10 silver pieces</li>
    <li>wait ("practice") before increasing rank again:
      <br>
      &emsp;{{waitingTimeWeeks}} weeks for rank {{newRank}}
    </li>
    <li>rank 10 is the highest skill rank available to adepts</li>
  </ul>
</div>