<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.d.duration"}}</th>
        <th>{{localize "earthdawn.a.active"}}</th>
        <th class="centered">
            <a class="item-control item-create effect-add" data-type='effect' title="{{localize 'earthdawn.i.itemCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each effects as |effects id|}}
        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/effects-card.hbs" effects}}
    {{/each}}
</table>
