<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.r.rank"}}</th>
        <th>{{localize "earthdawn.a.active"}}</th>
        <th class="centered">
            <a class="item-control item-create" data-type='thread' title="{{localize 'earthdawn.i.itemCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each threads as |thread id|}}
        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/thread-card.hbs" thread}}
    {{/each}}
</table>
