<div class="flexDescription">
    {{#if (eq item.system.isthread true)}}
    <div class="fixedHeight">
        <h3 class="h3-editor">{{localize "earthdawn.i.information"}}</h3>
        {{editor enrichment.system.descriptionThreadItem target="system.descriptionThreadItem" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>
    {{else}}
    <div class="fixedHeight">
        <h3 class="h3-editor">{{localize "earthdawn.l.labelItemDescription"}}</h3> 
        {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>
    {{/if}}
</div>