<div class="weapon-card">
    <div class="weapon-info item-draggable showHidden item-name border" data-item-id="{{_id}}">
       <span class="oneLine text-align-middle">
           <a class="show-hidden"><i class="fas fa-sort"></i></a>
            <label class="partial-four text-align-middle line-break">
                <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25"/>
                {{name}}
            </label>
               <a class="partial-four text-align-middle text-align-right NPC-attack">
                   {{#unless (eq system.attackstep 0)}}
                {{localize "earthdawn.a.action"}}: {{system.attackstep}}
                   <i class="NPC-attack fas fa-dice" title="click to Roll attack"></i>
                   {{/unless}}
            </a>
           
           {{#unless (eq system.damagestep 0)}}
               <a class="partial-four text-align-middle text-align-right effectTest">
                {{localize "earthdawn.d.damage"}}: {{system.damagestep}}
                   <i class="effectTest fas fa-dice" title="click to Roll Damage"></i>
            </a>
           {{/unless}}
           <a class="itemControlGroup">
               <a class="item-control item-display" title="Display Item">
                   <i class="fas fa-comments"></i>
               </a>
               <a class="item-control item-delete" title="Delete Item">
                <i class="fas fa-trash"></i>
            </a>
            <a class="item-control item-edit" title="Edit Item">
                <i class="fas fa-edit"></i>
            </a>
           </a>
           
        </span>
        <div style="display: none" class="hidden-tab hidden-strecht">{{{system.description}}}</div>
    </div>
</div>

