<div class="LegendTab">
  {{#if (eq actor.type "pc")}}
  <h2>{{localize "earthdawn.s.storyNotesLegend"}}</h2>
  <div class="legendPoints">
    <!-- Legend points -->
    <h3>{{localize "earthdawn.l.legend"}}</h3>

    <div class="partial-four">
      <div>
        <label>{{localize "earthdawn.l.legendPointsCurrent"}}</label>
      </div>
      <div>
        <input name="system.legendpointcurrent" type="text" value="{{actor.system.legendpointcurrent}}" data-dtype="Number"/>
      </div>
    </div>
    <div class="partial-four">
      <div>
        <label>{{localize "earthdawn.l.legendPointsSpent"}}</label>
      </div>
      <div>
        <input name="system.legendpointspent" type="text" value="{{actor.system.legendpointspent}}" data-dtype="Number"/>
      </div>
    </div>
    <div class="partial-four">
      <div>
        <label>{{localize "earthdawn.l.legendPointsTotal"}}</label>
      </div>
      <div>
        <input name="system.legendpointtotal" type="text" value="{{actor.system.legendpointtotal}}" data-dtype="Number"/>
      </div>
    </div>
    <div class="partial-four">
        <div>
            <label>{{localize "earthdawn.l.legendStatus"}}</label>
        </div>
        <div>
            <input name="system.legendStatus" type="text" value="{{actor.system.legendStatus}}" data-dtype="String"/>
        </div>
    </div>
  </div>
  <!-- Other calculations etc. -->
  &nbsp;
  <div class="spaceSmaller">
      <h3>{{localize "earthdawn.a.attributeUnspent"}}</h3>
      <input name="system.unspentattributepoints" type="text" value="{{actor.system.unspentattributepoints}}" data-dtype="Number"/>
  </div>
  &nbsp;

    <!-- Languages -->
  <h3>{{localize "earthdawn.l.language"}}</h3>
  <div class="actor-languages">
    
    <div class="partial-three">
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.dwarven" {{checked actor.system.speak.languages.dwarven}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.dwarven" {{checked actor.system.write.languages.dwarven}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>{{localize "earthdawn.l.languageDwarven"}}</label>
      </div>
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.elven" {{checked actor.system.speak.languages.elven}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.elven" {{checked actor.system.write.languages.elven}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>{{localize "earthdawn.l.languageElven"}}</label>
      </div>
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.windling" {{checked actor.system.speak.languages.windling}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.windling" {{checked actor.system.write.languages.windling}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>{{localize "earthdawn.l.languageWindling"}}</label>
      </div>
    </div>
    <div class="partial-three">
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.human" {{checked actor.system.speak.languages.human}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.human" {{checked actor.system.write.languages.human}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>{{localize "earthdawn.l.languageHuman"}}</label>
      </div>
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.obsidiman" {{checked actor.system.speak.languages.obsidiman}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.obsidiman" {{checked actor.system.write.languages.obsidiman}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>{{localize "earthdawn.l.languageObsidiman"}}</label>
      </div>
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.troll" {{checked actor.system.speak.languages.troll}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.troll" {{checked actor.system.write.languages.troll}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>{{localize "earthdawn.l.languageTroll"}}</label>
      </div>
    </div>
    <div class="partial-three">
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.ork" {{checked actor.system.speak.languages.ork}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.ork" {{checked actor.system.write.languages.ork}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
        <label>
          {{localize "earthdawn.l.languageOrk"}}
        </label>
      </div>
      <div>
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.tskrang" {{checked actor.system.speak.languages.tskrang}} title="{{localize "earthdawn.l.languageLearned"}}" />
        <input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.tskrang" {{checked actor.system.write.languages.tskrang}} title="{{localize "earthdawn.l.languageLearned"}}" />
        <label>{{localize "earthdawn.l.languageTskrang"}}</label>
      </div>
    </div>
    </div>
    <div class="language-option">
      <textarea Placeholder="{{localize "earthdawn.l.languageOther"}}" name="system.languages.other" cols="30" rows="3">{{actor.system.languages.other}}</textarea>
    </div>
      
    <!-- Thread to true Pattern -->
    <div class="spaceSmaller">
        <table>
            <h3 class="headerLine">
                <div>
                    {{localize "earthdawn.t.threadsPersonal"}}
                </div>
                <a class="item-create" data-type="thread" title="{{localize "earthdawn.n.newItem" }}">
                    <I class="fas fa-plus"></I>
                </a>
            </h3>
            <tr>
                {{#each threads as |thread id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/thread-card.hbs" thread}}
                {{/each}}
            </tr>
        </table>
    </div>
    &nbsp;
    <div class="storyNotesTab space-small">
      <h3>{{localize "earthdawn.n.notes"}}</h3>
      <div class="flexColumn">
        {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
      </div>
    </div>
  {{else}}
    <div class="storyNotesTabNPC space-small">
      <h3>{{localize "earthdawn.n.notes"}}</h3>
      <div class="flexColumn">
        {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
      </div>
    </div>
  {{/if}}
  </div>
</div>
