<div class="talentsTab" id="talentsTab">
    <h2>{{localize "earthdawn.t.talentsSkills"}}</h2>
    {{#if (getTalentSort 'Split')}}
    <table id="talents item-list">
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.d.disciplineTalent"}}
            </div>
            <a class="item-create" data-type="talent" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
                {{#each (getTalentType talents 'Discipline') as |talent i|}}
                {{> "systems/earthdawn4e/templates/actors/partials/talent-card.hbs" talent}}
                    {{#each (getKnackName talent ../knacks) as |knack id|}}
						{{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
					{{/each}}
                {{/each}}      
        </tr>

        &nbsp;
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.o.optionalTalents"}}
            </div>
            <a class="item-create" data-type="talent" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
                {{#each (getTalentType talents 'Option') as |talent i|}}
                {{> "systems/earthdawn4e/templates/actors/partials/talent-card.hbs" talent}}
                    {{#each (getKnackName talent ../knacks) as |knack id|}}
						{{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
					{{/each}}
                {{/each}}      
        </tr>
        &nbsp;
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.f.freeTalents"}} 
            </div>
            <a class="item-create" data-type="talent" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
                {{#each (getTalentType talents 'Free') as |talent i|}}
                {{> "systems/earthdawn4e/templates/actors/partials/talent-card.hbs" talent}}
                    {{#each (getKnackName talent ../knacks) as |knack id|}}
						{{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
					{{/each}}
                {{/each}}      
        </tr>
        &nbsp;
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.v.versatilityTalents"}}
            </div>
            <a class="item-create" data-type="talent" title="{{localize " earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
            {{#each (getTalentType talents 'Versatility') as |talent i|}}
                {{> "systems/earthdawn4e/templates/actors/partials/talent-card.hbs" talent}}
                {{#each (getKnackName talent ../knacks) as |knack id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
                {{/each}}
            {{/each}}
        </tr>
        &nbsp;
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.r.racialTalents"}}
            </div>
            <a class="item-create" data-type="talent" title="{{localize " earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
            {{#each (getTalentType talents 'Racial') as |talent i|}}
                {{> "systems/earthdawn4e/templates/actors/partials/talent-card.hbs" talent}}
                {{#each (getKnackName talent ../knacks) as |knack id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
                {{/each}}
            {{/each}}
        </tr>
    </table>
    {{else}}
        <h3 class="headerLine">
                <div>
                    {{localize "earthdawn.t.talents"}}
                </div>
                <a class="item-create" data-type="talent" title="{{localize "earthdawn.n.newItem" }}">
                    <I class="fas fa-plus"></I>
                </a>
            </h3>
            <tr>
                    {{#each talents as |talent id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/talent-card.hbs" talent}}
                        {{#each (getKnackName talent ../knacks) as |knack id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
                        {{/each}}

                    {{/each}}
                    
            </tr>
        </table>
    {{/if}}
    <table id="skills space-small">
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.s.skills"}}
            </div>
            <a class="item-create" data-type="skill" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
            <div class="item-list skill-list">
                {{#each skills as |skill id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/skill-card.hbs" skill}}
                {{/each}}
            </div>
        </tr>
    </table>
    {{#if (hasDisciplineType disciplines 'questor')}}
    <table id="devotions space-small">
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.d.devotions"}}
            </div>
            <a class="item-create" data-type="devotion" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
            <div class="item-list devotion-list">
                {{#each devotions as |devotion id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/devotion-card.hbs" devotion}}
                {{/each}}
            </div>
        </tr>
    </table>
    {{/if}}
</div>
