.earthdawn.sheet.talent form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.earthdawn.sheet.talent .flexColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.earthdawn.sheet.talent .flexColumn .editor {
  height: 100%;
}
.earthdawn.sheet.namegiver .headerLine {
  display: flex;
  flex-direction: row;
}
.earthdawn.sheet.namegiver .headerLine .item-create {
  margin-left: auto;
}
.earthdawn.sheet.discipline .navigatorDisciplin {
  float: left;
  width: 100px;
}
.earthdawn.sheet.discipline .nav-discipline-tabBody {
  float: right;
  margin-left: auto;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.earthdawn.sheet.discipline .list {
  list-style-type: none;
}
.earthdawn.sheet.equipmentInventory form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.earthdawn.sheet.equipmentInventory .flexColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.equipmentInventory .flexColumn .editor {
  height: 100%;
  min-height: 200px;
}
.earthdawn.sheet.equipmentInventory .threadweaveInfo {
  height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.equipmentInventory .threadweaveInfo .editor {
  height: 100%;
  min-height: 200px;
}
.earthdawn.sheet.threadItem form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.earthdawn.sheet.threadItem .fixedHeight {
  height: 300px;
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.threadItem .fixedHeight .flexColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.threadItem .fixedHeight .flexColumn .editor {
  height: 100%;
}
.earthdawn.sheet.threadItem .threadItemCharacteristics {
  height: 265px;
}
@-moz-document url-prefix() {
  .earthdawn.sheet.threadItem .threadItemCharacteristics {
    height: 300px;
    margin-bottom: 15%;
  }
}
.earthdawn.sheet.threadItem .threadRankSeparate {
  padding-top: 10px;
}
.earthdawn.sheet.threadItem .headerLeft {
  float: left;
  width: 33%;
  margin-top: 5px;
}
.earthdawn.sheet.threadItem .headerMiddle {
  float: left;
  width: 33%;
}
.earthdawn.sheet.threadItem .headerRight {
  float: right;
  width: 33%;
}
.earthdawn.sheet.threadItem .keyKnowledgeLeft {
  float: left;
  width: 65%;
}
.earthdawn.sheet.threadItem .keyKnowledgeRight {
  float: right;
  width: 31%;
}
.earthdawn.sheet.threadItem .CharacteristicsLeft {
  float: left;
  width: 48%;
}
.earthdawn.sheet.threadItem .CharacteristicsRight {
  float: right;
  width: 48%;
}
.earthdawn.sheet.threadItem .threadItemRevealShow,
.earthdawn.sheet.threadItem .threadItemActiveThreads {
  margin-top: 5px;
}
.earthdawn.sheet.threadItem .threadItemActive,
.earthdawn.sheet.threadItem .threadItemReveal {
  vertical-align: 6px;
}
.threadItemCharacteristicsKeyKnowledge {
  padding-top: 35px;
}
.earthdawn.sheet.actor .leftbar {
  float: left;
  width: 30%;
  font-size: 0.8rem;
  font-weight: lighter;
}
.earthdawn.sheet.actor .rightbar {
  float: right;
  width: 68%;
  font-size: 0.8rem;
  border: none;
}
.earthdawn.sheet.actor #gradAlignment {
  text-orientation: upright;
  transform: rotate(315deg);
  font-size: 0.7rem;
  height: 50px;
}
.earthdawn.sheet.actor #gradAlignmentNavigator {
  text-orientation: upright;
  transform: rotate(315deg);
  font-size: 0.7rem;
  white-space: nowrap;
  height: 20px;
}
.earthdawn.sheet.actor .oneLine {
  display: flex;
  flex-direction: row;
}
.earthdawn.sheet.actor .oneLine .itemControlGroup {
  margin-left: auto;
}
.earthdawn.sheet.actor .roll-result {
  font-weight: bolder;
}
.earthdawn.sheet.actor .charName {
  font-weight: bold;
  font-size: large;
}
.earthdawn.sheet.actor .karmaSection {
  font-weight: 900;
}
.earthdawn.sheet.actor .coins {
  border: none;
}
.earthdawn.sheet.actor .npcPowers {
  min-height: 400px;
}
.earthdawn.sheet.actor .combatTabPlayer {
  height: 400px;
}
.earthdawn.sheet.actor .attributes .item-control.item-upgrade[data-action='attribute'] {
  display: none;
}
.earthdawn.sheet.actor .attributes h3:hover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.earthdawn.sheet.actor .attributes h3:hover .item-control.item-upgrade[data-action='attribute'] {
  display: inline-flex;
}
.earthdawn.sheet.actor input.circleInput,
.earthdawn.sheet.mask input.circleInput {
  border: 1px solid;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 5px;
}
.earthdawn.sheet.actor input.circleInputInitiative,
.earthdawn.sheet.mask input.circleInputInitiative {
  border: 1px solid;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 50%;
}
.earthdawn.sheet.actor .centeredInput,
.earthdawn.sheet.mask .centeredInput {
  text-align: center;
  word-spacing: 1000000px;
}
.earthdawn.sheet.actor .centeredInputNoSpaceing,
.earthdawn.sheet.mask .centeredInputNoSpaceing {
  text-align: center;
}
.earthdawn.sheet.actor .characteristicsLeftBar,
.earthdawn.sheet.mask .characteristicsLeftBar {
  float: left;
  width: 48%;
  padding-bottom: 15px;
}
.earthdawn.sheet.actor .characteristicsRightBar,
.earthdawn.sheet.mask .characteristicsRightBar {
  float: right;
  width: 48%;
  padding-bottom: 15px;
}
.earthdawn.sheet.actor .hidden-tab-modifier,
.earthdawn.sheet.mask .hidden-tab-modifier {
  height: 60px;
  background-color: lightgray;
}
.earthdawn.sheet.actor .hidden-strecht,
.earthdawn.sheet.mask .hidden-strecht {
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.actor .characteristicsRightBar,
.earthdawn.sheet.mask .characteristicsRightBar {
  float: right;
  width: 48%;
  padding-bottom: 15px;
}
.earthdawn.sheet.actor .creatureLeftBar,
.earthdawn.sheet.mask .creatureLeftBar {
  float: left;
  width: 49%;
}
.earthdawn.sheet.actor .creatureRightBar,
.earthdawn.sheet.mask .creatureRightBar {
  float: right;
  width: 49%;
}
.earthdawn.sheet.actor .creatureStats,
.earthdawn.sheet.mask .creatureStats {
  height: 252px;
}
.earthdawn.sheet.actor .creatureStatsTable,
.earthdawn.sheet.mask .creatureStatsTable {
  border: none;
}
.earthdawn.sheet.actor .creatureImg,
.earthdawn.sheet.mask .creatureImg {
  width: 230px;
  height: 230px;
}
.earthdawn.sheet.actor .creatureImgPosition,
.earthdawn.sheet.mask .creatureImgPosition {
  float: right;
  margin: 18px 10px 5px 5px;
}
.earthdawn.sheet.actor .navLeft,
.earthdawn.sheet.mask .navLeft {
  float: left;
  margin-left: 10px;
}
.earthdawn.sheet.actor .navRight,
.earthdawn.sheet.mask .navRight {
  float: right;
  margin-right: 10px;
}
.earthdawn.sheet.actor .circleLeft,
.earthdawn.sheet.mask .circleLeft {
  float: left;
  width: 33.33%;
}
.earthdawn.sheet.actor .circleMiddle,
.earthdawn.sheet.mask .circleMiddle {
  float: left;
  width: 33.33%;
}
.earthdawn.sheet.actor .circleRight,
.earthdawn.sheet.mask .circleRight {
  float: right;
  width: 33.33%;
}
.earthdawn.sheet.actor .alignmentCenter,
.earthdawn.sheet.mask .alignmentCenter {
  text-align: center;
}
.earthdawn.sheet.actor .circleRow,
.earthdawn.sheet.mask .circleRow {
  height: 95px;
}
.earthdawn.sheet.actor .circleInputDropDown,
.earthdawn.sheet.mask .circleInputDropDown {
  border: 1px solid;
  text-align: center;
  width: 60px;
  height: 30px;
  border-radius: 50%;
  padding-left: 10px;
}
.earthdawn.sheet.actor .initiativeLeft,
.earthdawn.sheet.mask .initiativeLeft {
  float: left;
  width: 50%;
  margin-left: 5px;
  padding-top: 17px;
}
.earthdawn.sheet.actor .initiativeRight,
.earthdawn.sheet.mask .initiativeRight {
  float: right;
  width: 30%;
  margin-right: 5px;
  padding-top: 25px;
}
.earthdawn.sheet.actor .creatureCharacteristics,
.earthdawn.sheet.mask .creatureCharacteristics {
  height: 300px;
}
.earthdawn.sheet.actor .marginLeft10,
.earthdawn.sheet.mask .marginLeft10 {
  margin-left: 20px;
}
.earthdawn.sheet.actor .marginRight10,
.earthdawn.sheet.mask .marginRight10 {
  margin-right: 20px;
}
.earthdawn.sheet.actor .creatureCirclesPadding,
.earthdawn.sheet.mask .creatureCirclesPadding {
  padding-top: 17px;
}
.earthdawn.sheet.actor .otherInput,
.earthdawn.sheet.mask .otherInput {
  background: none;
  height: 14px;
  border: none;
}
.earthdawn.sheet.actor .vertialAlignMiddle,
.earthdawn.sheet.mask .vertialAlignMiddle {
  padding-top: 5px;
}
.earthdawn.sheet.actor .creatureActions,
.earthdawn.sheet.mask .creatureActions {
  height: 280px;
}
.earthdawn.sheet.actor .creatureInformation,
.earthdawn.sheet.mask .creatureInformation {
  height: 400px;
}
.earthdawn.sheet.actor .creatureInformation .flexDescription,
.earthdawn.sheet.mask .creatureInformation .flexDescription {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.actor .creatureInformation .flexDescription .editor,
.earthdawn.sheet.mask .creatureInformation .flexDescription .editor {
  height: 100%;
}
.earthdawn.sheet.actor .sheet.creature form,
.earthdawn.sheet.mask .sheet.creature form {
  display: flex;
  flex-direction: column;
}
.earthdawn.sheet.actor .creatureInitiative,
.earthdawn.sheet.mask .creatureInitiative {
  height: 20px;
}
.earthdawn.sheet.actor .creatureButtons,
.earthdawn.sheet.mask .creatureButtons {
  width: 33%;
}
.text-align-right {
  justify-content: flex-end;
}
.earthdawn.sheet.actor .headerLine {
  display: flex;
  flex-direction: row;
}
.earthdawn.sheet.actor .headerLine .item-create,
.earthdawn.sheet.actor .headerLine .effect-add {
  margin-left: auto;
}
.earthdawn.sheet.actor .indented {
  padding-left: 50px;
}
.earthdawn.sheet.actor .buttonAction {
  background-image: url("../assets/green-marble-dialog-header.png");
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  margin: 2px 2px;
  width: 90%;
  cursor: pointer;
  height: 26px;
  border-radius: 13px;
}
.earthdawn.sheet.actor .buttonAction:hover {
  opacity: 1;
}
.earthdawn.sheet.actor .fa-fist-raised {
  font-size: 25px;
  margin-right: 2.5px;
  margin-left: 2.5px;
}
.earthdawn.sheet.actor .storyNotesTab {
  height: 400px;
}
.earthdawn.sheet.actor .storyNotesTab .flexColumn {
  height: 380px;
}
.earthdawn.sheet.actor .storyNotesTab .flexColumn .editor {
  height: 300px;
}
.earthdawn.sheet.actor .storyNotesTabNPC {
  display: flex;
  flex-direction: column;
  height: 600px;
}
.earthdawn.sheet.actor .storyNotesTabNPC .flexColumn {
  height: 100%;
}
.earthdawn.sheet.actor .storyNotesTabNPC .flexColumn .editor {
  height: 100%;
}
.earthdawn.sheet.actor .automatedAttributeCalculation {
  display: none;
  background-color: lightgray;
}
.earthdawn.sheet.actor .block {
  vertical-align: middle;
}
.earthdawn.sheet.actor .language-option {
  margin-top: 90px;
}
.roll-result {
  text-align: center;
  font-size: 1.2em;
  border-color: black;
}
.chat-message,
#chat-form {
  background-image: url('../assets/background.png');
  background-size: 100%;
}
#sidebar-tabs {
  background-image: url('../assets/green-marble-dialog-header.png');
}
#combat li.combatant .token-name h4,
#combat li.combatant .token-initiative .initiative {
  color: black;
}
.editor-content {
  font-size: large;
}
#combat li.combatant.active {
  background: rgba(110, 51, 3, 0.2);
}
.window-app .window-content .app.sidebar-popout {
  color: black;
}
.app.sidebar-popout .window-content {
  color: black;
}
.window-app .circleInput {
  border: 1px solid;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 5px;
}
.rule-of-one {
  background-color: rgba(198, 87, 83, 0.5) !important;
}
.extra-success {
  background-color: rgba(118, 205, 106, 0.5) !important;
}
.line-break {
  line-break: normal;
  height: fit-content;
}
@font-face {
  font-family: 'ArnoPro Bold';
  src: url('../fonts/ArnoPro-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'ArnoPro BoldItalic';
  src: url('../fonts/ArnoPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ArnoPro Italic';
  src: url('../fonts/ArnoPro-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'ArnoPro Regular';
  src: url('../fonts/ArnoPro-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'WarhorseDIY';
  src: url('../fonts/Warhorse Deco BB diy Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'OldLondon';
  src: url('../fonts/Olondon_.otf');
  font-style: normal;
}
#entity-create option,
#entity-create select {
  text-transform: capitalize;
}
.rightbar,
.leftbar,
#chat-log,
.window-content,
textarea,
.buttonAction,
.roll-result {
  font-family: 'ArnoPro Regular', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'WarhorseDIY', serif;
}
.line-simple {
  height: 1px;
  width: 100%;
  border-top: 1px solid #050000;
}
.nav-discipline-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.discipline {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sheet nav.sheet-tabs {
  border-top: none;
  border-bottom: none;
}
.table-borderless {
  border-top: none;
  border-bottom: none;
}
.space-holder {
  height: 10px;
}
.step-display {
  outline: none;
  border-radius: 3px;
  border: 1px solid;
}
.inherent-width {
  width: calc(100% - 2px);
}
.table-border {
  border: 1px solid #7a7971;
}
.thread-nav {
  height: 50px;
}
.window-app {
  background-image: url('../assets/background1.png');
  background-size: auto;
  padding: 0;
}
.window-app .misc-mod {
  display: flex;
  flex-direction: row;
}
.window-app .misc-mod .misc-mod-description {
  padding-top: 7px;
  width: 30%;
  float: left;
}
.window-app .misc-mod .misc-mod-description-option {
  padding-top: 7px;
  width: 60%;
  float: left;
}
.window-app .misc-mod .misc-mod-input {
  padding-bottom: 3px;
  float: right;
  background: none;
}
.window-app .misc-mod-popup {
  height: 165px;
}
.window-app .dialog-button {
  width: 50px;
  height: 30px;
  vertical-align: bottom;
  text-align: center;
}
.window-header {
  background-image: url('../assets/green-marble-dialog-header.png');
}
.actor-sheet {
  background-image: url('../assets/background1.png');
  background-size: 100%;
}
.window-app .window-content,
.window-app.image-popout {
  background-image: url('../assets/background1.png');
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
}
#combat #combat-tracker {
  background-image: url('../assets/background1.png');
  background-size: 100%;
}
#logo {
  content: url('../assets/earthdawn-logo.png');
  width: 120px;
  height: auto;
  padding-right: 10px;
}
#pause img {
  content: url('../assets/pause.png');
  width: 128px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 64px);
}
.fa-dice-d20:hover {
  color: red;
  font-size: larger;
}
.border {
  border-bottom: solid;
  border-width: 1px;
  padding: 1px;
  border-color: #5c5c5c;
}
h2 {
  text-align: center;
}
.h3-editor {
  font-size: large;
  font-weight: bold;
}
.editor-content.p {
  font-size: large;
}
.maskCharacteristics {
  height: 150px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-7 {
  padding-top: 7px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-middle-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.padding-left-3 {
  padding-left: 3px;
}
.padding-left-6 {
  padding-left: 6px;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-right-3 {
  padding-right: 3px;
}
.padding-right-6 {
  padding-right: 6px;
}
.padding-right-8 {
  padding-right: 8px;
}
.partial-two {
  float: left;
  width: 50%;
}
.partial-three {
  float: left;
  width: 33.3%;
  height: 32px;
}
.partial-four {
  float: left;
  width: 25%;
  min-height: 32px;
}
.partial-four-a {
  float: left;
  width: 26%;
  height: 32px;
}
.partial-five {
  float: left;
  width: 20%;
  height: 32px;
}
.partial-six {
  float: left;
  width: 16.6%;
  height: 32px;
}
.centered {
  text-align: center;
}
.text-align-middle {
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.space-big {
  margin-top: 120px;
}
.space {
  margin-top: 85px;
}
.space-small {
  margin-top: 30px;
}
.space-smaller {
  margin-top: 15px;
}
.static {
  position: static;
}
.editor {
  min-height: 200px;
}
.brokenLinks a.entity-link.broken {
  background: none;
  border: none;
}
.brokenLinks .fa-unlink:before {
  content: none;
}
p,
.editor-content li,
.weave-thread-box {
  margin: 0.5em 0;
  line-height: 150%;
  font-size: 1.2em;
}
.chat-message .message-header .flavor-text,
.chat-message .message-header .whisper-to {
  font-size: 1.2em;
}
p:first-child:first-letter {
  font-size: 200%;
  color: #700d0d;
  font-family: 'OldLondon', serif;
}
.weave-thread-box {
  height: fit-content;
}
.directory-item,
.subdirectory {
  font-size: 1em;
  margin: 0%;
}
.compendium.directory .directory-list .directory-item {
  line-height: 36px;
}
li.compendium-folder > .compendium-folder-header {
  padding: 3px !important;
}
#compendium li.compendium-pack {
  font-size: 1em;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.listKarmaAbility {
  list-style-type: none;
}
.sheet.journal-entry .sidebar .directory-header {
  color: black;
}
.sheet.journal-entry .pages-list {
  color: black;
}
.background-ed {
  background-size: 618px;
  padding: 0;
  margin: 0;
  width: 618px;
}
.background-ed p,
.background-ed h1,
.background-ed h2,
.background-ed h3,
.background-ed h4,
.background-ed h5,
.background-ed h6 {
  padding-left: 40px;
  padding-right: 40px;
  background-image: url('../assets/quote.webp');
  background-repeat: repeat-y;
  background-size: 618px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.background-ed a.entity-link,
.background-ed a.content-link {
  background: #ef252533;
}
.background-ed::before {
  content: "";
  display: block;
  height: 100px;
  background-image: url('../assets/quote-top.webp');
  background-size: 618px;
  background-repeat: no-repeat;
}
.background-ed::after {
  content: "";
  display: block;
  height: 100px;
  background-image: url('../assets/quote-bottom.webp');
  background-size: 618px;
  background-repeat: no-repeat;
}
.reading {
  background-size: 618px;
  padding: 0;
  margin: 0;
  width: 618px;
}
.reading p,
.reading h1,
.reading h2,
.reading h3,
.reading h4,
.reading h5,
.reading h6 {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fffffdba;
  background-size: 618px;
  margin-left: 20px;
  margin-right: 17px;
  margin-top: 0;
  margin-bottom: 0;
}
.reading a.entity-link,
.reading a.content-link {
  background: #fffffdba;
}
.reading::before {
  content: "";
  display: block;
  height: 100px;
  background-image: url('../assets/reading-frame-top.webp');
  background-size: 618px;
  background-repeat: no-repeat;
}
.reading::after {
  content: "";
  display: block;
  height: 100px;
  background-image: url('../assets/reading-frame-bottom.webp');
  background-size: 618px;
  background-repeat: no-repeat;
}
.background-vasgothia {
  background-size: 618px;
  padding: 0;
  margin: 0;
  width: 618px;
}
.background-vasgothia p,
.background-vasgothia h1,
.background-vasgothia h2,
.background-vasgothia h3,
.background-vasgothia h4,
.background-vasgothia h5,
.background-vasgothia h6 {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #807f7e;
  background-repeat: repeat-y;
  background-size: 618px;
  margin-top: 0;
  margin-bottom: 0;
}
.background-vasgothia a.entity-link,
.background-vasgothia a.content-link {
  background: #ef252533;
}
.background-vasgothia::before {
  content: "";
  display: block;
  height: 100px;
  background-image: url('../assets/background-vasgothia1.png');
  background-color: #807f7e;
  background-size: 618px;
  background-repeat: no-repeat;
}
.background-vasgothia::after {
  content: "";
  display: block;
  height: 100px;
  background-image: url('../assets/background-vasgothia2.png');
  background-color: #807f7e;
  background-size: 618px;
  background-repeat: no-repeat;
}
#storyentry-sheet-story19gfordcxeg .window-header {
  background-image: none;
}
.optionBox {
  min-height: 250px;
}
.optionBox .navOptionBox {
  float: left;
  width: 100px;
}
.optionBox .nav-optionBox-tabBody {
  float: right;
  margin-left: auto;
  width: calc(100% - 120px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-Bottom: 30px;
}
.optionBox .list {
  list-style-type: none;
}
.optionBox .circleInputDropDown {
  border: 1px solid;
  text-align: center;
  width: 60px;
  height: 30px;
  border-radius: 50%;
  padding-left: 10px;
  margin-left: 5px;
}
.dialog-buttons {
  padding-top: 10px;
}
.dialog-buttons .button-cancel {
  width: 48%;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  text-align: center;
}
.dialog-buttons .button-ok {
  width: 48%;
  height: 30px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  right: 5px;
}
.app.window-app.optionBox.dialog {
  height: fit-content;
  padding-bottom: 50px;
}
.upgradeDialog label,
.upgradeDialog span {
  margin: 1em;
}
.upgradeDialog input {
  width: auto;
  margin: 1em;
  border: none;
}
.upgradeDialog .fa-check-circle {
  color: green;
}
.upgradeDialog .fa-exclamation-circle {
  color: yellow;
}
.lpTrackingTable .selected {
  background-color: yellowgreen;
}
.lpTrackingTable tbody > tr:hover {
  background-color: yellowgreen;
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}
.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
.flexshrink {
  flex: 0;
}
.flex-between {
  justify-content: space-between;
}
.flexlarge {
  flex: 2;
}
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.no-flex {
  flex: none !important;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.grid,
.grid-2col {
  display: grid !important;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}
.grid-1col {
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-start-2 {
  grid-column-start: 2;
}
.grid-start-3 {
  grid-column-start: 3;
}
.grid-start-4 {
  grid-column-start: 4;
}
.grid-start-5 {
  grid-column-start: 5;
}
.grid-start-6 {
  grid-column-start: 6;
}
.grid-start-7 {
  grid-column-start: 7;
}
.grid-start-8 {
  grid-column-start: 8;
}
.grid-start-9 {
  grid-column-start: 9;
}
.grid-start-10 {
  grid-column-start: 10;
}
.grid-start-11 {
  grid-column-start: 11;
}
.grid-start-12 {
  grid-column-start: 12;
}
.grid-span-2 {
  grid-column-end: span 2;
}
.grid-span-3 {
  grid-column-end: span 3;
}
.grid-span-4 {
  grid-column-end: span 4;
}
.grid-span-5 {
  grid-column-end: span 5;
}
.grid-span-6 {
  grid-column-end: span 6;
}
.grid-span-7 {
  grid-column-end: span 7;
}
.grid-span-8 {
  grid-column-end: span 8;
}
.grid-span-9 {
  grid-column-end: span 9;
}
.grid-span-10 {
  grid-column-end: span 10;
}
.grid-span-11 {
  grid-column-end: span 11;
}
.grid-span-12 {
  grid-column-end: span 12;
}
.no-gap {
  gap: 0 !important;
}
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* Accordion styles */
.tabs-accordion {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tabs-accordion .tab:first-child {
  margin-top: 8px;
}
.tabs-accordion .tab {
  padding: 0 !important;
  border: 2px groove #eeede0;
  height: auto !important;
  width: 100%;
  color: black;
  overflow: hidden !important;
}
.tabs-accordion .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tabs-accordion .tab-label:hover {
  background: rgba(0, 0, 0, 0.05);
}
.tabs-accordion .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tabs-accordion .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.35s;
  opacity: 0;
}
.tabs-accordion .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.tabs-accordion .tab-close:hover {
  background: rgba(0, 0, 0, 0.05);
}
.tabs-accordion .tab .accordion-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabs-accordion .tab .accordion-checkbox:checked + .tab-label {
  background: rgba(0, 0, 0, 0.05);
}
.tabs-accordion .tab .accordion-checkbox:checked + .tab-label::after {
  transform: rotate(90deg);
}
.tabs-accordion .tab .accordion-checkbox:checked ~ .tab-content {
  max-height: 100vh;
  opacity: 100%;
  padding: 1em;
}
/* ----------------------------------------- */
/*  All Earthdawn Apps                           */
/* ----------------------------------------- */
.taka-theme {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
}
.taka-theme .window-content {
  font-size: 13px;
}
.taka-theme .max-height {
  height: 100% !important;
}
.taka-theme .overflow-y {
  overflow-y: scroll;
}
.taka-theme input[type='text'],
.taka-theme input[type='number'],
.taka-theme select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.taka-theme input[type='text']:hover,
.taka-theme input[type='number']:hover,
.taka-theme input[type='text']:focus,
.taka-theme input[type='number']:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.taka-theme input:disabled,
.taka-theme select:disabled,
.taka-theme textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}
.taka-theme input:disabled:hover,
.taka-theme select:disabled:hover,
.taka-theme textarea:disabled:hover,
.taka-theme input:disabled:focus,
.taka-theme select:disabled:focus,
.taka-theme textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.taka-theme button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.taka-theme .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.taka-theme .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.taka-theme .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.taka-theme .form-group.stacked > label {
  flex: 0 0 100%;
  margin: 0;
}
.taka-theme .form-group.stacked label.checkbox,
.taka-theme .form-group.stacked label.radio {
  flex: auto;
  text-align: left;
}
.taka-theme .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}
.taka-theme .hidden-stretch {
  flex-direction: column;
  flex: 0;
  width: 100%;
  display: contents;
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.taka-theme {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Actor Type Config Sheet Specifically     */
  /* ----------------------------------------- */
}
.taka-theme .window-content {
  overflow-y: hidden;
  padding: 5px;
  font-size: 13px;
  color: #191813;
}
.taka-theme .window-content form {
  height: 100%;
  overflow: hidden;
}
.taka-theme .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.taka-theme input[type='text'],
.taka-theme input[type='number'] {
  font-size: 15px;
  background: none;
  border: 1px solid transparent;
}
.taka-theme input[type='text']:hover,
.taka-theme input[type='number']:hover,
.taka-theme input[type='text']:focus,
.taka-theme input[type='number']:focus {
  border: 1px solid #111;
}
.taka-theme select {
  font-family: 'WarhorseDIY', serif;
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.taka-theme .editable .rollable:hover {
  cursor: pointer;
}
.taka-theme .editable h4.rollable:hover,
.taka-theme .editable .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}
.taka-theme span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.taka-theme i.border {
  border: 2px groove #eeede0;
}
.taka-theme .editor {
  height: 100%;
}
.taka-theme .editor .tox-toolbar-overlord,
.taka-theme .editor .tox-toolbar__primary {
  background: none;
}
.taka-theme .editor .tox-tinymce {
  height: 100% !important;
}
.taka-theme .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.taka-theme .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.taka-theme .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.taka-theme .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.taka-theme .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}
.taka-theme .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.taka-theme .sheet-header .summary li:last-child {
  border-right: none;
}
.taka-theme .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
}
.taka-theme .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.taka-theme .sheet-navigation .item.active {
  border-bottom: 3px solid #44191a;
}
.taka-theme .sheet-body {
  flex: 1;
  overflow: scroll;
}
.taka-theme .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.taka-theme .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.taka-theme .items-list .item-name-css {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}
.taka-theme .items-list .item-name-css h3,
.taka-theme .items-list .item-name-css h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.taka-theme .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.taka-theme .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}
.taka-theme .items-list .item-controls button {
  font-size: 10px;
  font-family: 'WarhorseDIY', serif;
}
.taka-theme .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.taka-theme .items-list .item:last-child {
  border-bottom: none;
}
.taka-theme .items-list .item .item-name-css {
  color: #191813;
}
.taka-theme .items-list .item .item-name-css .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.taka-theme .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.taka-theme .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.taka-theme .items-list .items-header h3 {
  padding-left: 5px;
  text-align: left;
  font-size: 16px;
}
.taka-theme .actor-type .trait-list {
  display: flex;
  flex-wrap: wrap;
}
.taka-theme .actor-type .trait-list li {
  flex-basis: 50%;
  flex-grow: 1;
}
.taka-theme .actor-type .trait-list li.form-group {
  flex-basis: 100%;
}
.taka-theme .actor-type label.radio {
  display: flex;
  flex: auto;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
.taka-theme .actor-type label.radio > input[type='radio'] {
  margin: 0 5px 0 0;
}
.taka-theme .actor-type li.custom-type input[type='radio'] {
  display: none;
}
.align-left {
  justify-content: flex-start;
  text-align: left;
}
.align-right {
  justify-content: flex-end;
  text-align: right;
}
.align-center {
  justify-content: center;
  text-align: center;
}
.no-margin {
  margin: 0 !important;
}
.margin-25 {
  margin: 25px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-25 {
  margin-right: 25px !important;
}
.margin-right-40 {
  margin-right: 40px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-left-50 {
  margin-left: 50px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.centered {
  text-align: center !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.taka-theme table .item-image {
  width: 25px;
  height: auto;
}
.taka-theme table th {
  text-align: left;
}
.taka-theme table tr td {
  text-align: left;
  vertical-align: center;
}
.taka-theme table tr td .item-image {
  width: 25px;
  height: auto;
}
.tooltip {
  position: relative;
  text-align: center;
}
.tooltip::after {
  background-color: #333;
  border-radius: 10px;
  color: white;
  display: none;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  z-index: 999;
  width: 100px;
}
.tooltip::before {
  background-color: #333;
  content: ' ';
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 999;
}
.tooltip:hover::after {
  display: block;
}
.tooltip:hover::before {
  display: block;
}
.tooltip.right::after {
  content: attr(aria-label);
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 10px));
}
.tooltip.right::before {
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}
.taka-theme.item {
  min-height: 400px;
  max-height: 95%;
  min-width: 480px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
}
.taka-theme.item .sheet-header {
  max-height: 101px;
  margin-bottom: 10px;
  border-bottom: 2px groove #eeede0;
}
.taka-theme.item .sheet-header img.profile {
  border: 2px solid #000;
  max-width: 100px;
  max-height: 100px;
}
.taka-theme.item .sheet-header .charname {
  position: absolute;
  width: calc(100% - 30px);
  margin-top: 5px;
  border: none;
}
.taka-theme.item .sheet-header .charname input {
  border: none;
  background: none;
  height: 75px;
  margin-left: 23px;
  font-size: 35px;
  width: calc(100% - 95px);
}
.taka-theme.item .sheet-header .charname-discipline {
  position: absolute;
  width: calc(100% - 30px);
  margin-top: 5px;
  border: none;
}
.taka-theme.item .sheet-header .charname-discipline input {
  border: none;
  background: none;
  height: 60px;
  margin-left: 23px;
  font-size: 35px;
  width: calc(100% - 95px);
}
.taka-theme.item .sheet-header .item-subtitle {
  float: right;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.taka-theme.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}
.taka-theme.item .sheet-navigation {
  max-height: 25px;
  margin-bottom: 5px;
}
.taka-theme.item .sheet-navigation .active {
  text-shadow: 0 0 10px red;
}
.taka-theme.item .sheet-navigation .nav {
  text-align: center;
  font-family: 'WarhorseDIY', serif;
  font-size: 18px;
  margin: 0 24px;
  border-bottom: 3px solid #44191a;
}
.taka-theme.item .discipline-tabs {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  max-height: 100%;
}
.taka-theme.item .discipline-tabs .nav {
  height: 25px;
}
.taka-theme.item .discipline-body {
  overflow: auto !important;
}
.taka-theme.item .discipline-body #description .editor {
  overflow: hidden;
}
.taka-theme.item .sheet-body {
  overflow: hidden;
}
.taka-theme.item .sheet-body .thread-border {
  margin-bottom: 10px;
}
.taka-theme.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.taka-theme.item .sheet-body .spell-label {
  font-family: 'WarhorseDIY', serif;
  text-align: center;
  font-weight: bold;
  vertical-align: center;
}
.taka-theme.item .sheet-body .change-thread-number i {
  vertical-align: center;
}
.taka-theme.item .sheet-body .item-properties.wide {
  flex: 0 0 200px;
}
.taka-theme.item .sheet-body .item-properties.wide-xl {
  flex: 0 0 225px;
}
.taka-theme.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.taka-theme.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.taka-theme.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.taka-theme.item .sheet-body .item-properties .form-group .box-title {
  border-bottom: 2px groove #eeede0;
  text-align: center;
  margin: 0;
}
.taka-theme.item .sheet-body .item-properties .form-group input {
  text-align: center;
  border: 2px groove #eeede0;
}
.taka-theme.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.taka-theme.item .sheet-body .item-properties .properties-list label {
  font-family: 'WarhorseDIY', serif;
  text-align: left;
  margin-left: 10px;
}
.taka-theme.item .sheet-body .item-properties .properties-list .box-title {
  font-size: 15px;
  font-family: 'WarhorseDIY', serif;
}
.taka-theme.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
}
.taka-theme.item .sheet-body .item-properties .properties-list .checkbox {
  text-align: left;
  margin-left: 45px;
}
.taka-theme.actor {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */
}
.taka-theme.actor .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.taka-theme.actor .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.taka-theme.actor .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
}
.taka-theme.actor .sheet-header .top-right {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}
.taka-theme.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.taka-theme.actor .sheet-header .summary input,
.taka-theme.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.taka-theme.actor .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.taka-theme.actor .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.taka-theme.actor .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.taka-theme.actor .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.taka-theme.actor .sheet-header .attributes .attribute .attribute-value div input {
  font-weight: 400;
  font-size: 24px;
}
.taka-theme.actor .sheet-header .attributes .attribute .attribute-value .threshold {
  color: #7a7971;
}
.taka-theme.actor .sheet-body {
  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Combat                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Property List                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
}
.taka-theme.actor .sheet-body .header-rank {
  padding-left: 65px;
}
.taka-theme.actor .sheet-body .header-attribute {
  padding-left: 40px;
}
.taka-theme.actor .sheet-body .header-strain {
  padding-right: 70px;
}
.taka-theme.actor .sheet-body .header-effect {
  padding-left: 70px;
}
.taka-theme.actor .sheet-body .header-range {
  padding-left: 25px;
}
.taka-theme.actor .sheet-body .header-spell {
  padding-left: 50px;
}
.taka-theme.actor .sheet-body .header-threads-required {
  padding-right: 25px;
}
.taka-theme.actor .sheet-body .header-matrix-threads-required {
  padding-left: 70px;
}
.taka-theme.actor .sheet-body .header-disciplines {
  padding-right: 50px;
}
.taka-theme.actor .sheet-body .item-list .matrix {
  padding-bottom: 5px;
  padding-top: 5px;
}
.taka-theme.actor .sheet-body .top-row {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.taka-theme.actor .sheet-body .top-row .currency {
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
  height: 25px;
}
.taka-theme.actor .sheet-body .top-row .currency div {
  height: 25px;
}
.taka-theme.actor .sheet-body .top-row .currency label {
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.taka-theme.actor .sheet-body .top-row .currency label span {
  height: 100%;
  vertical-align: top;
  font-weight: bold;
}
.taka-theme.actor .sheet-body .top-row .currency input[type='text'] {
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.taka-theme.actor .sheet-body .combat {
  overflow-x: hidden;
}
.taka-theme.actor .sheet-body .combat .initiative-input {
  height: calc(100% - 15px);
}
.taka-theme.actor .sheet-body .unarmed div {
  display: inline-flex;
}
.taka-theme.actor .sheet-body .unarmed div i {
  padding-right: 3px;
  padding-left: 2px;
}
.taka-theme.actor .sheet-body .unarmed a.effectTest {
  padding-left: 165px;
}
.taka-theme.actor .sheet-body .actor-properties {
  max-width: 180px;
  min-width: 180px;
  flex: 0 0 180px;
  margin: 5px;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.taka-theme.actor .sheet-body .actor-properties .form-group {
  margin: 0;
}
.taka-theme.actor .sheet-body .actor-properties .form-group label {
  line-height: 20px;
}
.taka-theme.actor .sheet-body .actor-properties .form-group input {
  text-align: right;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list .title {
  display: block;
  font-size: medium;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list .sub-title {
  float: right;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list .max-devotion {
  font-size: 15px;
  color: gray;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list a,
.taka-theme.actor .sheet-body .actor-properties .properties-list label {
  font-family: 'WarhorseDIY', serif;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list a .item-control,
.taka-theme.actor .sheet-body .actor-properties .properties-list label .item-control {
  display: none;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list a:hover,
.taka-theme.actor .sheet-body .actor-properties .properties-list label:hover {
  position: relative;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list a:hover .item-control,
.taka-theme.actor .sheet-body .actor-properties .properties-list label:hover .item-control {
  display: inline;
  position: absolute;
  right: 5%;
  top: 15%;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list .box-title {
  font-size: 15px;
  font-family: 'WarhorseDIY', serif;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list li .attribute {
  margin: 0;
  width: 100%;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list li .attribute span {
  font-size: small;
}
.taka-theme.actor .sheet-body .actor-properties .properties-list .checkbox {
  text-align: left;
  margin-left: 45px;
}
.taka-theme.actor .sheet-body .editor {
  padding: 0 8px;
}
.taka-theme.actor .sheet-body #actor-flags .window-content {
  overflow-y: hidden;
}
.taka-theme.actor .sheet-body #actor-flags form {
  height: 100%;
}
.taka-theme.actor .sheet-body #actor-flags .form-body {
  height: calc(100% - 40px);
  padding-right: 8px;
  margin-bottom: 4px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.taka-theme.actor ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.taka-theme.actor ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #eeede0;
  border-radius: 4px;
  text-align: center;
}
.taka-theme.actor ul.attributes li.attribute:last-child {
  margin: 0;
}
.taka-theme.actor ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
}
.taka-theme.actor ul.attributes li.attribute .attribute-value > * {
  font-weight: 400;
  font-size: 24px;
}
.taka-theme.actor ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.taka-theme.actor ul.attributes li.attribute .attribute-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: 'Signika', sans-serif;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.taka-theme.actor h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
  white-space: nowrap;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.taka-theme.actor.character {
  min-width: 720px;
  min-height: 680px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Spells                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
.taka-theme.actor.character .sheet-header img.profile {
  flex: 0 0 185px;
  max-width: 185px;
  height: 185px;
  margin: 0;
}
.taka-theme.actor.character .sheet-header .top-right .legendPoints {
  flex: 0 0 32px;
  align-items: center;
  font-size: 18px;
}
.taka-theme.actor.character .sheet-header .top-right .legendPoints input {
  text-align: right;
}
.taka-theme.actor.character .sheet-header .top-right .legendPoints input .max {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.taka-theme.actor.character .sheet-header .summary {
  text-align: left;
}
.taka-theme.actor.character .char-disciplines {
  flex: 0 0 20px;
  height: 20px;
  font-size: 18px;
  color: #7a7971;
  white-space: nowrap;
}
.taka-theme.actor.character .char-disciplines .disciplines-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.taka-theme.actor.character .char-disciplines .disciplines-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.taka-theme.actor.character .inventory .item-controls,
.taka-theme.actor.character .spells .item-controls {
  flex: 0 0 68px;
}
.taka-theme.actor.character .inventory .item-controls .item-toggle,
.taka-theme.actor.character .spells .item-controls .item-toggle {
  color: #b5b3a4;
}
.taka-theme.actor.character .inventory .item-controls .item-toggle.active,
.taka-theme.actor.character .spells .item-controls .item-toggle.active {
  color: #4b4a44;
}
.taka-theme.actor.character .inventory .item-controls .item-toggle.fixed,
.taka-theme.actor.character .spells .item-controls .item-toggle.fixed {
  color: #44191a;
}
.taka-theme.actor.character .inventory .item-controls .item-toggle.fixed:hover,
.taka-theme.actor.character .spells .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.taka-theme.actor.character .circle {
  margin-left: 30px;
}
.taka-theme.actor.character .coins {
  flex: 0 !important;
  border: none;
  display: inline-block;
  width: 24px !important;
  height: 24px !important;
}
.taka-theme.actor.character .characteristics {
  flex: 0 0 180px;
  height: 100%;
  padding: 0 3px 3px;
  border-right: 2px groove #eeede0;
}
.taka-theme.actor.character .characteristics div {
  padding: 5px;
}
.taka-theme.actor.character .characteristics label {
  font-family: 'WarhorseDIY', serif;
  flex: 0 0 20px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 20px;
  text-align: center;
}
.taka-theme.actor.character .characteristics input {
  height: 25px;
  font-family: 'Signika', serif;
  font-size: 13px;
  border: 1px solid #c9c7b8;
  resize: none;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.taka-theme.actor.creature .sheet-body .normal {
  max-width: 195px !important;
  flex: 0 0 195px !important;
}
.taka-theme.actor.creature .sheet-body .actor-properties .properties-list .sub-title {
  margin-right: 40px !important;
}
.taka-theme.actor.creature .sheet-body .actor-properties .properties-list input {
  text-align: left;
}
.override {
  list-style: none;
}
.override .attribute {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px groove #eeede0;
  padding: 5px;
  border-radius: 0;
}
.override .attribute:last-child {
  margin-bottom: 0;
}
.override .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.override .attribute .attribute-value div input {
  font-weight: 400;
  font-size: 24px;
}
.override .attribute .attribute-value .threshold {
  color: #7a7971;
}
